.tocify-wrapper .toc-copyright {
  border-top: 1px dashed #666666;
  padding: 1em 15px 0 15px;
  color: white;
  font-size: 0.8em;
  line-height: 1.7;
  text-decoration: none;
}

.content blockquote {
  padding: 1em 28px 0;
}

.content pre.pseudo {
  background: none;
  color:black;
  margin-right: 50%;
  padding: 0 0 25px 28px;
  text-shadow:none;
}

pre.pseudo span.se{
  color: red;
}

pre.pseudo span.ok{
  color: green;
}

pre.pseudo span.na,
pre.pseudo span.se,
pre.pseudo span.ok{
  font-weight: bolder;
}